In [65]:
import pandas as pd

## Link de referência IBGE para acesso a API e efetuar o download de dados espaciais:<br>[Acesse aqui a API do IBGE de Localidades](https://servicodados.ibge.gov.br/api/docs/localidades#api-_)

In [ ]:
# O código 43 indica todos os municípios do Estado do Rio Grande do Sul
municipios_RS = pd.read_json("https://servicodados.ibge.gov.br/api/v1/localidades/estados/43/municipios")

In [ ]:
municipios_RS.head()

        id  ...                                    regiao-imediata
0  4300034  ...  {'id': 430010, 'nome': 'Bagé', 'regiao-interme...
1  4300059  ...  {'id': 430032, 'nome': 'Tapejara - Sananduva',...
2  4300109  ...  {'id': 430011, 'nome': 'Santa Maria', 'regiao-...
3  4300208  ...  {'id': 430018, 'nome': 'Ijuí', 'regiao-interme...
4  4300307  ...  {'id': 430019, 'nome': 'Santa Rosa', 'regiao-i...

[5 rows x 4 columns]

In [ ]:
# Consulta número do município (id) e nome
municipios_RS[['id','nome']]

          id                   nome
0    4300034                 Aceguá
1    4300059             Água Santa
2    4300109                  Agudo
3    4300208              Ajuricaba
4    4300307                Alecrim
..       ...                    ...
492  4323606  Vista Alegre do Prata
493  4323705           Vista Gaúcha
494  4323754    Vitória das Missões
495  4323770              Westfália
496  4323804              Xangri-lá

[497 rows x 2 columns]

In [ ]:
# Usando o método 'query' para encontrar dados de Santa Maria
municipios_RS.query('nome == "Santa Maria"')

          id  ...                                    regiao-imediata
364  4316907  ...  {'id': 430011, 'nome': 'Santa Maria', 'regiao-...

[1 rows x 4 columns]

In [ ]:
# Baixando a lista de subdistritos de Santa Maria
subdistritos_Santa_Maria = pd.read_json("https://servicodados.ibge.gov.br/api/v1/localidades/municipios/4316907/subdistritos")

In [ ]:
subdistritos_Santa_Maria.head()

            id  ...                                           distrito
0  43169070506  ...  {'id': 431690705, 'nome': 'Santa Maria', 'muni...
1  43169070507  ...  {'id': 431690705, 'nome': 'Santa Maria', 'muni...
2  43169070508  ...  {'id': 431690705, 'nome': 'Santa Maria', 'muni...
3  43169070509  ...  {'id': 431690705, 'nome': 'Santa Maria', 'muni...
4  43169070510  ...  {'id': 431690705, 'nome': 'Santa Maria', 'muni...

[5 rows x 3 columns]

In [ ]:
# Escreve um arquivo formato CSV dos dados dos subdistritos de Santa Maria
subdistritos_Santa_Maria.to_csv("subdistritos_SMA.csv")

In [ ]:
# Lista de municípios basileiros
municipios_BR = pd.read_json("https://servicodados.ibge.gov.br/api/v1/localidades/municipios?orderBy=nome")

In [ ]:
municipios_BR.head()

        id  ...                                    regiao-imediata
0  5200050  ...  {'id': 520001, 'nome': 'Goiânia', 'regiao-inte...
1  3100104  ...  {'id': 310061, 'nome': 'Monte Carmelo', 'regia...
2  5200100  ...  {'id': 520002, 'nome': 'Anápolis', 'regiao-int...
3  3100203  ...  {'id': 310070, 'nome': 'Abaeté', 'regiao-inter...
4  1500107  ...  {'id': 150003, 'nome': 'Abaetetuba', 'regiao-i...

[5 rows x 4 columns]

In [ ]:
municipios_BR.shape

(5570, 4)

In [ ]:
municipios_Regiao_Sul = pd.read_json("https://servicodados.ibge.gov.br/api/v1/localidades/estados/43%7C42%7C41/municipios")

In [ ]:
municipios_Regiao_Sul.head()

        id  ...                                    regiao-imediata
0  4100103  ...  {'id': 410022, 'nome': 'Santo Antônio da Plati...
1  4100202  ...  {'id': 410001, 'nome': 'Curitiba', 'regiao-int...
2  4100301  ...  {'id': 410001, 'nome': 'Curitiba', 'regiao-int...
3  4100400  ...  {'id': 410001, 'nome': 'Curitiba', 'regiao-int...
4  4100459  ...  {'id': 410015, 'nome': 'Campo Mourão', 'regiao...

[5 rows x 4 columns]

### API IBGE para malhas geográficas.<br>[Acesse a API malhas municipais](https://servicodados.ibge.gov.br/api/docs/malhas?versao=3#api-bq)

In [ ]:
malha_municipios_BR = pd.read_json("https://servicodados.ibge.gov.br/api/v3/malhas/paises/BR?formato=application/vnd.geo+json&qualidade=maxima&intrarregiao=municipio")

In [ ]:
malha_municipios_BR.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poly...

In [ ]:
# Escreve o dataframe 'malha_municipios_BR' para um arquivo 'malha_BR.csv'
malha_municipios_BR.to_csv("malha_BR.csv")

In [ ]:
# Leitura do arquivo formato CSV da malha de municipios
malha_BR = pd.read_csv("malha_BR.csv")

In [ ]:
malha_BR.head()

   Unnamed: 0  ...                                           features
0           0  ...  {'type': 'Feature', 'geometry': {'type': 'Poly...
1           1  ...  {'type': 'Feature', 'geometry': {'type': 'Poly...
2           2  ...  {'type': 'Feature', 'geometry': {'type': 'Poly...
3           3  ...  {'type': 'Feature', 'geometry': {'type': 'Poly...
4           4  ...  {'type': 'Feature', 'geometry': {'type': 'Poly...

[5 rows x 3 columns]

###API IBGE para Dados Agregados.<br>[Acesso a API IBGE Dados Agregados](https://servicodados.ibge.gov.br/api/docs/agregados?versao=3)<br>Versão: 3.0.0
Incremente sua aplicação com a API de dados agregados do IBGE, a API que alimenta o [SIDRA](https://sidra.ibge.gov.br/), Sistema IBGE de Recuperação Automática, ferramenta que disponibiliza os dados das pesquisas e censos realizados pelo IBGE.

A fim de aprofundar o conhecimento desta API, recomendamos que você explore as tabelas do SIDRA [1705](https://sidra.ibge.gov.br/tabela/1705) e [1712](https://sidra.ibge.gov.br/tabela/1712) - **Cada tabela do SIDRA corresponde a um agregado desta API** -, que são usadas como exemplos na documentação desta API. Se desejar, use o Query Builder para gerar consultas customizadas.


*obs 1:* para desenvolvedores de soluções OLAP, Online Analytical Processing, os conceitos de variáveis, classificações e categorias são, respectivamente, idênticos aos de medidas, dimensões e membros.<br>
*obs 2:* a presente versão permite 3 modos de visualização das variáveis. Para mais informações, consulte o parâmetro view
Agregados
Obtém o conjunto de agregados, agrupados pelas respectivas pesquisas

###API IBGE para Dados Agregados.<br>[Acesso a API IBGE Dados Agregados](https://servicodados.ibge.gov.br/api/docs/agregados?versao=3)<br>Versão: 3.0.0
Incremente sua aplicação com a API de dados agregados do IBGE, a API que alimenta o [SIDRA](https://sidra.ibge.gov.br/), Sistema IBGE de Recuperação Automática, ferramenta que disponibiliza os dados das pesquisas e censos realizados pelo IBGE.

A fim de aprofundar o conhecimento desta API, recomendamos que você explore as tabelas do SIDRA [1705](https://sidra.ibge.gov.br/tabela/1705) e [1712](https://sidra.ibge.gov.br/tabela/1712) - **Cada tabela do SIDRA corresponde a um agregado desta API** -, que são usadas como exemplos na documentação desta API. Se desejar, use o Query Builder para gerar consultas customizadas.


*obs 1:* para desenvolvedores de soluções OLAP, Online Analytical Processing, os conceitos de variáveis, classificações e categorias são, respectivamente, idênticos aos de medidas, dimensões e membros.<br>
*obs 2:* a presente versão permite 3 modos de visualização das variáveis. Para mais informações, consulte o parâmetro view
Agregados
Obtém o conjunto de agregados, agrupados pelas respectivas pesquisas